/************************* GENERAL *************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #060505;
  overflow: hidden;
}

canvas {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

/* .container-body {
  width: 100vw;
  height: 100vh;
  position: relative;
} */

section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/************************* COLOURS *************************/

:root {
  --color--purple-bold: rgb(140, 0, 204);
  --color--purple-light: rgb(167, 95, 214);
  --color--purple-dark: rgb(97, 75, 113);
  --color--green: rgb(92, 122, 105);
  --color--yellow: rgb(234, 226, 158);
}

/************************* HEADER AND NAV *************************/

.title-main {
  z-index: 100;
  display: inline-block;
  width: 100vw;
  user-select: none;
  transition: all 2s ease;
}
.title-main h1 {
  width: 300px;
  margin: 4vh auto;
  /* margin-bottom: 2vh; */
  text-align: center;
  top: 12%;
  font-size: 80px;
  font-family: "Qwitcher Grypen", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;

  background: linear-gradient(
    71deg,
    var(--color--purple-bold) 0,
    var(--color--purple-light) 25%,
    var(--color--yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.78);
  transition: all 1s ease;
}
.title-responsive {
  float: left;
  padding: 0;
  margin: 0;
}
.title-responsive h1 {
  position: relative;
  height: 100%;
  text-align: left;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  margin-top: 7px;
  font-size: 48px;
  text-shadow: none;
  background: linear-gradient(
    192deg,
    var(--color--purple-bold) 0,
    var(--color--purple-light) 13%,
    var(--color--yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-container {
  text-align: center;
  font-family: "Glory", sans-serif;
  /* font-family: "Inter Tight", sans-serif; */
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1.5px;
  word-spacing: 15px;
  line-height: 40px;
  user-select: none;
}
.nav {
  display: inline-block;
  padding: 15px 5px;
  list-style-type: none;
  border-radius: 8px;
  background-color: rgba(97, 75, 113, 0.212);
  color: var(--color--purple-bold);
  text-shadow: 1px 0 2px rgba(234, 226, 158, 0.569),
    -1px 0 2px rgba(234, 226, 158, 0.569), 0 1px 2px rgba(234, 226, 158, 0.569),
    0 -1px 2px rgba(234, 226, 158, 0.569);
  box-shadow: 0 0 17px rgba(97, 75, 113, 0.569);
  user-select: none;
}
.nav-element li{
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}
.nav-element:hover {
  color: var(--color--yellow);
  text-shadow: 3px 0 6px rgba(234, 226, 158, 0.569),
  -3px 0 6px rgba(234, 226, 158, 0.569), 0 3px 6px rgba(234, 226, 158, 0.569),
  0 -3px 6px rgba(234, 226, 158, 0.569);
  transition: all 0.3s;
  /* transform: scale(1.1);  */
  user-select: none;
}
.nav-element:active {
  transition: all 0.1s;
  color: var(--color--purple-dark);
  user-select: none;
  transform: translateZ(25px);
}
.nav-responsive {
  user-select: none;
  z-index: -2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--color--purple-dark);
  /* border: 1px solid white; */
}
#burger {
  position: absolute;
  top: 8px;
  right: 8px;
}
#burger div {
  width: 32px;
  height: 3px;
  background-color: white;
  margin: 7px 0;
}

#burger .open-menu {

  box-shadow: 0 0 5px var(--color--yellow);
}

/************************* HOME SECTION *************************/

.container-ep-art {
  margin-top: 6vh;
}
.container-ep-art a img {
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-top: 10vh;
  max-width: 130px;
  height: auto;
  box-shadow: 0 0 10px rgba(244, 243, 242, 0.8);
}

#home-section {
  animation: fadeInAnimation ease 6s;
  /* animation-delay: 1s; */
}

/************************* SECTION CHANGES *************************/

.hidden {
  display: none;
}
.active {
  z-index: -10;
  border-radius: 6px;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  font-size: 20px;
  left: 10px;
  top: 29px;
  background-color: rgba(167, 95, 214, 0.2);
  border: 1px, solid, white;
}

/************************* FOOTER *************************/

#sitback {
  max-height: 110px;
  width: auto;
  position: absolute;
  bottom: 2px;
  left: 2px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.links-social {
  float: right;
}
.links-social ul {
  text-align: center;
  padding-right: 7px;
  padding-bottom: 10px;
  list-style-type: none;
  font-size: 28px;
}
.links-social a {
  color: var(--color--purple-bold);
}
.copyright-info {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  min-width: 100px;
  padding: 3px 8px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  font-size: 11px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(194, 193, 193, 0.524);
  color: #3b3b3b;
}
.point-at::before {
  position: absolute;
  right: 48px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: var(--color--yellow);
  animation: pointAnimation ease 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.point-at::after {
  position: absolute;
  right: 11px;
  bottom: 142px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: var(--color--yellow);
  animation: pointAnimation ease 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/************************* ANIMATIONS *************************/

/* .fade-out{
  animation: fadeOutAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */
.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  90% {
    opactity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opactity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pointAnimation {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideDelay {
  0% {
  }
  100% {
    display: none;
  }
}
