/************************* GENERAL *************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #060505;
  overflow: hidden;
}
canvas {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
}
section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/************************* COLOURS *************************/

:root {
  --color--purple-bold: rgb(140, 0, 204);
  --color--purple-light: rgb(167, 95, 214);
  --color--purple-dark: rgb(97, 75, 113);
  --color--green: rgb(92, 122, 105);
  --color--yellow: rgb(234, 226, 158);
}

/************************* HEADER AND NAV *************************/

.title-main {
  display: inline-block;
  z-index: 100;
  width: 100vw;
  cursor: pointer;
  user-select: none;
  transition: all 2s ease;
}
.title-main h1 {
  width: 300px;
  margin: 4vh auto;
  text-align: center;
  top: 12%;
  font-size: 80px;
  font-family: "Qwitcher Grypen", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;

  background: linear-gradient(
    71deg,
    var(--color--purple-bold) 0,
    var(--color--purple-light) 25%,
    var(--color--yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.78);
  transition: all 1s ease;
}
.title-responsive {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}
.title-responsive h1 {
  width: 100%;
  position: relative;
  height: 100%;
  text-align: left;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  margin-top: 7px;
  font-size: 48px;
  text-shadow: none;
  background: linear-gradient(
    192deg,
    var(--color--purple-bold) 0,
    var(--color--purple-light) 13%,
    var(--color--yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}
.nav-container {
  text-align: center;
  font-family: "Glory", sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1.5px;
  word-spacing: 15px;
  line-height: 40px;
  user-select: none;
}
.nav {
  display: inline-block;
  padding: 15px 5px;
  list-style-type: none;
  border-radius: 8px;
  background-color: rgba(97, 75, 113, 0.212);
  color: var(--color--purple-bold);
  text-shadow: 2px 0 2px rgba(234, 226, 158, 0.569),
    -2px 0 2px rgba(234, 226, 158, 0.569), 0 2px 2px rgba(234, 226, 158, 0.569),
    0 -2px 2px rgba(234, 226, 158, 0.569);
  box-shadow: 0 0 17px rgba(97, 75, 113, 0.569);
  user-select: none;
}
nav li {
  display: inline-block;
  cursor: pointer;
}
.nav-element li {
  z-index: 2;
  transition: all 0.3s ease;
  user-select: none;
}
.nav-element:hover {
  color: var(--color--yellow);
  text-shadow: 3px 0 6px rgba(234, 226, 158, 0.569),
    -3px 0 6px rgba(234, 226, 158, 0.569), 0 3px 6px rgba(234, 226, 158, 0.569),
    0 -3px 6px rgba(234, 226, 158, 0.569);
  transition: all 0.3s;
  user-select: none;
}
.nav-element:active {
  transition: all 0.1s;
  color: var(--color--purple-dark);
  user-select: none;
  transform: translateZ(25px);
}
.nav-responsive {
  user-select: none;
  z-index: -2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--color--purple-dark);
}
.nav-container-burger.open-menu {
  background-color: transparent;
}
.nav-container-burger ul {
  float: right;
  position: relative;
  margin-top: 30px;
  margin-right: 10px;
  width: 90px;
}
.nav.fade-in.active {
  z-index: 250;
  background-color: rgba(97, 75, 113, 0.812);
}
.burger {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 2px;
  padding: 8px;
}
.bar {
  width: 32px;
  height: 3px;
  background-color: rgba(244, 243, 242, 0.8);
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.open-menu {
  background-color: var(--color--yellow);
}

.open-menu.bar-1 {
  transform: translateY(12px) rotateZ(90deg);
}
.open-menu.bar-2 {
  width: 16px;
  transform: translate(3px, 11px) rotateZ(50deg);
}
.open-menu.bar-3 {
  width: 16px;
  transform: translate(13px, 1px) rotateZ(-50deg);
}
#burger {
  cursor: pointer;
}

/************************* HOME SECTION *************************/

.container-ep-art {
  position: relative;
  margin-top: 16vh;
}
.container-ep-art a img {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: block;
  max-width: 130px;
  height: auto;
  box-shadow: 0 0 10px rgba(244, 243, 242, 0.8);
}
#home-section {
  animation: fadeInAnimation ease 6s;
}
#ep-review {
  display: none;
  position: absolute;
  padding: 0 30%;
  margin-top: 13vh;
  font-family: "Glory", sans-serif;
  font-size: 22px;
  color: var(--color--yellow);
}
#soundcloud-player-toggle {
  z-index: 200;
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  margin-left: 8px;
  padding: 6px 8px;
  border-radius: 14px;
  font-size: 16px;
  background-color: var(--color--purple-bold);
  color: var(--color--yellow);
  border-top: 2px solid var(--color--purple-light);
  border-left: 2px solid var(--color--purple-light);
  border-bottom: 2px solid rgb(120, 0, 144);
  border-right: 2px solid rgb(120, 0, 144);
  transition: ease-in-out 0.1s;
  user-select: none;
}
#soundcloud-player-toggle:active {
  border-bottom: 2px solid var(--color--purple-light);
  border-right: 2px solid var(--color--purple-light);
  border-top: 2px solid rgb(120, 0, 144);
  border-left: 2px solid rgb(120, 0, 144);
  padding-left: 9px;
  padding-top: 7px;
}
#soundcloud-player {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: -1000px;
  transform: translateY(-50%);
  transition: ease-in-out 1s;
}
#soundcloud-player iframe {
  border-radius: 14px;
}
/************************* EVENTS SECTION *************************/

.events {
  font-family: "Glory", sans-serif;
  display: none;
  border-radius: 6px;
  overflow-y: scroll;
}
.events.active {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  margin-left: 5%;
  width: 90%;
  height: 75%;
  padding: 10px;
}
.event-item {
  position: relative;
  padding-left: 5px;
  height: 25%;
  color: var(--color--yellow);
  border-radius: 6px;
  margin-bottom: 9px;
  background-color: rgba(167, 95, 214, 0.2);
}
.event-item strong a {
  appearance: button;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 2px;
  background-color: var(--color--purple-bold);
  color: var(--color--yellow);
  border-radius: 6px;
  border-color: var(--color--purple-dark);
  user-select: none;
  font-size: 12px;
}
.event-item strong a:active {
  padding-right: 0;
  padding-top: 5px;
}
.event-location {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color--green);
  width: 20%;
  height: 90%;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.event-location div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}
.event-details {
  width: 80%;
  margin-top: 10px;
  position: relative;
  display: block;
  float: right;
}
.event-details p {
  padding-left: 8px;
  position: relative;
  text-align: left;
  line-height: 1.7;
  color: var(--color--purple-light);
  text-shadow: 0 0 1px var(--color--yellow);
  font-size: 14px;
}
.event-details a {
  position: relative;
  color: var(--color--yellow);
}
.event-details span {
  color: var(--color--yellow);
}
.event-details a::after {
  margin-left: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  color: var(--color--yellow);
  animation: pointAnimation ease 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.event-item strong a::before {
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: var(--color--yellow);
  animation: pointAnimation ease 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/************************* ABOUT SECTION *************************/

.about {
  display: none;
  border-radius: 6px;
  overflow-y: scroll;
}
.about.active {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: 75%;
  padding: 20px;
  padding-top: 22px;
}
.about div img {
  border-radius: 8px;
  float: left;
  max-width: 50%;
  min-height: 50%;
  box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.7);
}
.about div h3 {
  margin: 0 auto;
  width: 100%;
  font-size: 48px;
  font-family: "Qwitcher Grypen", sans-serif;
  text-align: center;
  color: var(--color--yellow);
}
.about-content-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.about-content-header {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.about-content {
  display: inline-block;
  width: 100%;
  text-shadow: 3px 5px 3px rgba(0, 0, 0, 1);
}
.about-content p {
  margin-bottom: 66px;
  font-family: "Glory", sans-serif;
  color: var(--color--yellow);
  line-height: 1.3;
}
.about-content p a {
  font-size: 22px;
  color: var(--color--purple-bold);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.78);
}
#about-influences-img {
  float: right;
}
#influences-title {
  top: 50%;
  left: 50%;
  transform: translate(-105%, -65%);
}
#bio::after {
  content: "\f063";
  position: relative;
  top: 80px;
  right: 50px;
  font-size: 50px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--color--yellow);
  animation: pointAnimation ease 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/************************* GALLERY SECTION *************************/

.gallery {
  display: none;
  border-radius: 6px;
  overflow-y: scroll;
}
.gallery.active {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  margin-left: 5%;
  width: 90%;
  height: 75%;
  padding: 10px;
}
.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery-container img {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  margin-top: 8px;
}
.img-nav {
  text-align: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  vertical-align: middle;
  color: rgba(234, 226, 158, 0.8);
  background: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border: 2px solid rgba(234, 226, 158, 0.7);
  border-radius: 50%;
  font-size: 18px;
}
#img-next {
  right: 0;
}

/************************* CONNECT SECTION *************************/

.connect {
  display: none;
  border-radius: 6px;
  overflow-y: scroll;
}
.connect.active {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  margin-left: 5%;
  width: 90%;
  height: 75%;
  padding: 10px;
}
.connect h2 {
  margin-top: 3vh;
  color: var(--color--yellow);
  font-size: 28px;
  text-align: center;
  font-family: "Glory", sans-serif;
}
.connect ul {
  list-style-type: none;
}

#form {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 10px;
  color: var(--color--yellow);
  font-size: 20px;
  font-family: "Glory", sans-serif;
}
#radio-title {
  margin-top: 2.5vh;
}
#inquiry-radio {
  margin: 15px 10px;
  margin-bottom: 2.5vh;
  font-size: 18px;
}
#inquiry-email {
  margin-top: 1.5vh;
  margin-bottom: 2.5vh;
  width: 100%;
}
#inquiry-message {
  margin-top: 1.5vh;
  height: 60px;
  width: 100%;
}
#submit {
  font-size: 16px;
  border-radius: 6px;
  margin-top: 1.5vh;
  padding: 4px;
  float: right;
  background-color: var(--color--purple-bold);
  color: var(--color--yellow);
  border-top: 2px solid var(--color--purple-light);
  border-left: 2px solid var(--color--purple-light);
  border-bottom: 2px solid rgb(120, 0, 144);
  border-right: 2px solid rgb(120, 0, 144);
  transition: ease-in-out 0.1s;
  user-select: none;
}
#submit:active {
  border-bottom: 2px solid var(--color--purple-light);
  border-right: 2px solid var(--color--purple-light);
  border-top: 2px solid rgb(120, 0, 144);
  border-left: 2px solid rgb(120, 0, 144);
  padding-right: 1px;
  padding-bottom: 1px;
}
#form label {
  font-size: 16px;
}
#submit-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 18px;
  border-radius: 12px;
  font-family: "Glory", sans-serif;
  font-size: 48px;
  text-align: center;
  color: var(--color--yellow);
  background-color: rgba(100, 0, 144, 0.5);
  text-shadow: 0 0 2px black;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
}

/************************* SECTION CHANGES **********************/

.hidden {
  display: none;
}
.active {
  z-index: -10;
  border-radius: 6px;
  padding: 0 10px;
  margin: 0;
  position: absolute;
  font-size: 18px;
  left: 10px;
  top: 25px;
  background-color: rgba(167, 95, 214, 0.2);
}

/************************* FOOTER *************************/

#sitback {
  z-index: 10;
  max-height: 110px;
  width: auto;
  position: fixed;
  bottom: 2px;
  left: 2px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.links-social {
  float: right;
}
.links-social ul {
  text-align: center;
  padding-right: 7px;
  padding-bottom: 10px;
  list-style-type: none;
  font-size: 28px;
}
.links-social a {
  color: var(--color--purple-bold);
}
.copyright-info {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  min-width: 100px;
  padding: 3px 8px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  font-size: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(194, 193, 193, 0.524);
  color: #3b3b3b;
}
.point-at::before {
  position: absolute;
  right: 48px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: var(--color--yellow);
  animation: pointAnimation ease 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.point-at::after {
  position: absolute;
  right: 11px;
  bottom: 142px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: var(--color--yellow);
  animation: pointAnimation ease 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/************************* ANIMATIONS *************************/

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pointAnimation {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/************************* MEDIA QUERIES *************************/

@media screen and (min-width: 600px) {
  /* Tablet and above */

  /* HOME */
  .title-main h1 {
    font-size: 120px;
  }
  .nav-container {
    font-size: 42px;
  }
  .links-social {
    font-size: 36px;
  }
  .container-ep-art a img {
    margin-top: 1vh;
    max-width: 168px;
  }

  /* NAV */
  .title-responsive h1 {
    font-size: 72px;
  }
  .active {
    left: 20px;
    font-size: 26px;
  }
  .nav-container-burger ul {
    margin-right: 20px;
    width: 107px;
  }

  /* EVENTS */
  .event-details p {
    font-size: 20px;
  }
  .event-item strong a {
    font-size: 22px;
    margin: 10px;
  }

  /* ABOUT */
  .about div h3 {
    font-size: 72px;
  }

  /* CONNECT */
  .connect h2 {
    font-size: 36px;
  }
  #form {
    width: 100%;
    height: 80%;
    font-size: 28px;
  }
  #form label {
    font-size: 20px;
  }

  /* GALLERY */
  /* Nested media query to ensure landscape viewing on mobile is presented as a click through instead of scrolling */
  @media screen and (min-height: 500px) {
    .gallery.active {
      display: flex;
      white-space: nowrap;
      padding: 20px;
    }
    .image-container {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    .image-container img {
      margin: 0;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .gallery-container:nth-child(2)::before {
      content: "\f061";
      position: absolute;
      top: 200px;
      right: 8px;
      font-size: 50px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: var(--color--yellow);
      animation: pointAnimation ease 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    .gallery-container:nth-child(2)::after {
      content: "\f061";
      position: absolute;
      bottom: 200px;
      right: 8px;
      font-size: 50px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: var(--color--yellow);
      animation: pointAnimation ease 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    #section-gallery div i {
      display: none;
    }
    #img-gallery {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  .about-content p a {
    font-size: 30px;
  }

  /* Check to see if space for blockquote on home section and recalibrate sizes */
  @media screen and (min-height: 700px) {
    #ep-review {
      line-height: 1.1;
      display: block;
      text-align: center;
    }
    #ep-review::before {
      content: "\f10d";
      left: -5px;
      font-size: 32px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
    #ep-review::after {
      content: "\f10e";
      font-size: 32px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
    .container-ep-art a img {
      margin-top: 5px;
      max-width: 150px;
    }
  }
}

@media screen and (min-width: 900px) {
  #nav-container {
    z-index: 151;
  }
  .title-responsive h1 {
    height: 100px;
    padding-top: 10px;
    font-size: 90px;
  }
  .nav-responsive {
    height: 80px;
  }
  .nav-element.active {
    top: 53px;
    font-size: 30px;
  }
  .bar {
    width: 49px;
    height: 6px;
    margin: 13px 0;
  }
  .nav-container-burger ul {
    margin-top: 53px;
  }
  .open-menu.bar-2 {
    width: 36px;
    transform: translate(-4px, 7px) rotateZ(50deg);
  }
  .open-menu.bar-3 {
    width: 36px;
    transform: translate(18px, -12px) rotateZ(-50deg);
  }
  #img-gallery {
    scroll-snap-type: x mandatory;
  }
  .image-container {
    scroll-snap-align: center;
  }
  .connect.active {
    z-index: 150;
  }
  .about-content p a {
    font-size: 40px;
  }
  @media screen and (min-height: 825px) {
    /* Move containers down to account for bigger "active page" title/label */
    .about.active,
    .events.active,
    .gallery.active,
    .connect.active {
      top: 120px;
      height: 80%;
    }
    .point-at::before {
      right: 64px;
    }
    .point-at::after {
      right: 14px;
      bottom: 208px;
    }
    .links-social ul {
      font-size: 42px;
    }
    #sitback {
      max-height: 170px;
    }
    .copyright-info {
      bottom: 10px;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1024px) {
  #soundcloud-player-toggle {
    display: inline-block;
  }
  .active {
    font-size: 34px;
  }
  .nav-container-burger ul {
    margin-right: 21px;
    width: 136px;
    line-height: 1.6;
  }
  .container-ep-art {
    margin-top: 5%;
    display: block;
    width: 100%;
  }
  .container-ep-art a {
    margin: 0;
  }
  .container-ep-art a img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 20%;
    margin-right: 5%;
    transform: translate(0, 0);
    max-width: 20%;
    float: left;
  }
  .event-details p {
    font-size: 30px;
  }
  .event-item strong a {
    font-size: 28px;
    margin: 15px;
  }
  #ep-review {
    display: block;
    position: relative;
    padding: 0 20%;
    padding-top: 3%;
    margin: 0;
  }
  #form h4 {
    margin-top: 10%;
    margin-left: 2%;
  }
  #form label {
    font-size: 22px;
  }
  #form input,
  #form textarea {
    font-size: 14px;
  }
  #form ul {
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 3%;
    display: block;
    width: 40%;
  }
  #form li {
    margin-top: 14px;
  }
  #form textarea {
    position: absolute;
    right: 5%;
    top: 25%;
    display: block;
    width: 40%;
    height: 40%;
  }
  #form input[type="email"] {
    display: block;
    width: 40%;
    margin-left: 2%;
    font-size: 14px;
  }
  #form label[for="inquiry-email"] {
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 600;
  }
  #form label[for="inquiry-message"] {
    font-weight: 600;
    position: absolute;
    right: 37%;
    top: 20%;
  }
  #submit {
    font-size: 22px;
    border-radius: 6px;
    margin-top: 2%;
    margin-right: 5%;
  }
  #submit-confirmation {
    font-size: 68px;
  }
}

/* LANDSCAPE MOBILE FIXES */
@media screen and (max-height: 400px) {
  header {
    z-index: 20;
  }
  footer {
    z-index: 0;
  }
  section.active {
    height: 65% !important;
  }
  .title-main h1 {
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .title-responsive h1 {
    font-size: 50px;
  }
  .nav-container {
    font-size: 24px;
  }
  .nav {
    padding: 6px;
  }
  .container-ep-art a img {
    margin-top: 15px;
    max-width: 110px;
  }
  .img-nav {
    top: 40%;
  }
  .event-item {
    height: 55%;
  }
}
